header {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 0 10px;
}

nav li:first-child {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #aaa;
}

nav img {
  max-height: 40px;
  width: auto;
}

.section {
  padding: 60px 10vw;
}